 /* common css  */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 html {
     scroll-behavior: smooth;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .center {
     display: flex;
     align-items: center;
 }

 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 /* header style  */
 header {
     width: 100%;
     padding: 0 20px;
     height: 56px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFFFFF;
     border-bottom: 1px solid;
     position: fixed;
     top: 0;
     left: 0;
 }

 /* .search_area {
     display: flex;
     align-items: center;
 }

 .logo {
     width: 40px;
     height: 40px;


 }

 .logo img {
     width: 100%;
 }

 .logo img a {
     text-decoration: none;
 } */


 /* .search {
    display: flex;
    align-items: center;

    height: 40px;
    width: 240px;
    background-color: #656769;
    border-radius: 25px;

}

.search span {
    width: 25px;
    color: white;
    padding: 5px;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    background-color: unset;
    padding-left: 5px;
    font-size: 15px;
    font-family: arial;
    color: #e4e6eb;

}

.search input::placeholder {
    color: #e4e6eb;
    font-size: 15px;
    font-family: arial;
    font-weight: 400;




} */




 .search_area {
     display: flex;
     align-items: center;
 }

 .search_area .logo {
     width: 40px;
     height: 40px;
 }

 .logo img {
     width: 100%;
 }

 .search {
     margin-left: 10px;
     display: flex;
     width: 240px;
     height: 40px;
     background-color: #F0F2F5;
     border-radius: 25px;
     align-items: center;
 }

 .search span {
     width: 25px;
     color: white;
     padding-left: 5px;
     font-size: 20px;
 }

 .search input {
     height: 100%;
     background-color: unset;
     outline: none;
     border: none;
     color: white
 }

 .search input::placeholder {
     color: white;
 }


 nav ul li a {
     display: inline-block;
     padding: 10px 44px;

     border-radius: 10px;
     transition: 0.3s;
     position: relative;


 }

 nav ul li span {
     color: rgb(159, 158, 155);
     width: 28px;
     height: 28px;


 }

 nav ul li a:hover {
     background: #F2F2F2;

 }

 nav ul li::after {
     display: none;
     content: attr(data-tag);

     position: absolute;
     bottom: -36px;
     left: 50%;
     transform: translateX(-50%);
     background: red;
     color: black;
     background: #F2F2F2;
     border-radius: 8px;
     text-align: center;
     font-size: 14px;
     padding: 8px 10px;



 }

 nav ul li :hover::after {
     display: block;
 }

 nav ul li:first-child a:hover {
     background: unset;
     border-radius: unset;

 }

 nav ul li:first-child a {
     border-bottom: 3px solid blue;
     border-radius: unset;
     padding: 12px 44px;

 }

 nav ul li:first-child a {
     color: blue;
 }






 .profile_section ul {
     display: flex;
     align-items: center;
 }

 .profile_section ul li:first-child img {
     width: 28px;
     height: 28px;
     border-radius: 50%;
     margin-right: 5px;


 }



 .profile_section ul li {
     margin: 0 20px;
     background: #4f5050;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.3s;


 }

 .profile_section ul li span {
     color: white;
     width: 20px;
     height: 20px;



 }

 .profile_section ul li i {
     color: rgb(132, 129, 129);
     font-size: 20px;
 }

 .profile_section ul li:hover {
     background: #e3eaea;

 }


 .profile_section ul li:first-child {
     color: wheat;

     border-radius: 25px;
     padding: 5px 10px;
     transition: 0.3s;
     cursor: pointer;
     height: unset;
     width: unset;
     background: unset;


 }

 .profile_section ul li:first-child:hover {
     background: #4f5050
 }


 /* main section css */

 main {
     max-width: 1464px;
     width: 100%;
     margin: 20px auto;
     display: flex;
     justify-content: space-between;
     background: #242526;

 }

 .left_side,
 .right_side {
     flex-basis: 330px;
     height: 100vh;

     padding-top: 56px;
     background: #1C1E21;

 }


 .middle {
     flex-grow: 1;
     height: 100vh;

     padding-top: 56px;
 }

 .left_side {
     padding: 72px 15px 0 15px;
     overflow: auto;

 }

 .left_side ul {
     width: 100%;


 }

 .left_menu li {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     color: white;
     cursor: pointer;

     border-radius: 10px;
     transition: 0.3s;
     padding: 5px;


 }

 .left_menu li:hover {
     background: rgb(149, 146, 146);

 }

 .left_menu li img {
     width: 28px;
     height: 28px;
     margin-right: 10px;

 }

 .left_menu li:first-child img {
     border-radius: 50%;
 }

 .left_menu li:last-child div {
     margin-right: 8px;
     width: 28px;
     height: 28px;
     border-radius: 50%;
     background: rgb(149, 146, 146);
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .separator {
     width: 100%;
     height: 1px;
     background: rgb(83, 78, 78);

 }

 .shorcuts_title {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 40px;


 }

 .shorcuts_title h3 {
     margin-top: 22px;
     color: white;
     font-size: 16px;
     font-weight: 600px;

     display: flex;
     align-items: center;

 }

 .shorcuts_title button {
     display: none;
     background: unset;
     border: none;
     outline: none;
     color: rgb(132, 132, 238);

     padding: 8px;
     border-radius: 8px;
     transition: 0.3s;
     cursor: pointer;

 }

 .shorcuts_title:hover button {
     display: block;
     margin-top: 30px;


 }

 .shorcuts_title button:hover {
     background: rgb(83, 78, 78);
 }

 /* scrollbar  */



 /* width */
 ::-webkit-scrollbar {
     width: 8px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: unset;
 }

 ::-webkit-scrollbar-track:hover {
     background: #3a3b3c;


 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #888;
     border-radius: 25px;
     display: none;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 .left_side:hover::-webkit-scrollbar-thumb {
     display: block;

 }

 .second_left_menu li img {
     border-radius: 5px;

 }

 .second_left_menu {
     margin-top: 10px;
 }

 .footer_text a {
     font-size: 12px;
     color: white;
     font-weight: 500;
 }

 .footer_text a span {
     transform: translateY(8px)
 }

 .story_wrapper {
     display: flex;
     justify-content: space-around;
     align-items: center;
     position: relative;


 }

 .story {
     width: 17%;
     height: 220px;

     margin: 20px auto;
     border-radius: 10px;


 }

 .story_profile {
     width: 100%;
     flex-grow: 1;


 }

 .story_profile img {
     width: 100%;
     height: 100%;
     object-fit: cover;

 }

 .create_story {
     display: flex;
     flex-direction: column;
     overflow: hidden;

 }

 .create_story .bottom {
     flex-basis: 50px;

     background: #242526;

 }

 .create_story .bottom h4 {
     color: white;
     font-size: 14px;
 }



 .bottom {
     position: relative;
 }

 .create_btn {
     position: absolute;
     top: 0;
     left: 50%;
     transform: translateX(-50%)
 }

 .story {
     position: relative;
     overflow: hidden;
 }

 .story h4 {
     position: absolute;
     bottom: 0;
     left: 0;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
     display: -webkit-box;
     font-size: 13px;
     font-weight: 400px;
     overflow: hidden;

     width: 98%;
     color: white;
     margin-bottom: 5px;
     padding: 2%;


 }



 .story_avatar img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     border: 2px solid blue;
     position: absolute;
     top: 5px;
     left: 10px;
     z-index: 100;



 }

 .story_background {
     width: 100%;
     height: 100%;
     cursor: pointer;
 }

 .story_background img {
     width: 100%;
     height: 100%;
     object-fit: cover;

 }

 .arrow {
     height: 30px;
     width: 30px;
     border-radius: 50%;
     background: #1C1E21;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     right: -5px;
     top: 50%;
     transform: translateY(-50);
     cursor: pointer;


 }

 .arrow span {
     color: white;
     height: 25px;
     width: 25px;

 }

 .story:hover .story_background img {
     transform: scale(1.1);


 }

 .story_background img {
     transition: 0.3s;
 }

 .post_creation,
 .create_room,
 .status {
     max-width: 550px;
     background: #8498ad;
     margin: 25px auto;
     padding: 10px;

 }

 .post_top {
     display: flex;
     align-items: center;

 }

 .post_top .profile {
     width: 40px;
     height: 40px;
     border-radius: 50%;

 }

 .post_top .profile img {
     width: 100%;
     border-radius: 50%;
 }

 .post_top input {
     flex-grow: 1;
     border: none;
     outline: none;
     border-radius: 25px;
     height: 30px;
     padding: 5px;
     margin-left: 10px;
     background: #4e4f50;
     color: white;


 }

 .post_top input::placeholder {
     color: white;
 }

 .post_bottom ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .post_bottom {
     margin: 15px 0;
 }

 .post_bottom ul li {
     display: flex;

 }

 .create_room {
     display: flex;
     align-items: center;
     position: relative;




 }

 .create_room ul {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-left: 5px;
     flex-grow: 1;
 }

 .create_room ul li .profile {
     height: 30px;
     width: 30px;
     border-radius: 50%;


 }
 .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .reaction {
     display: flex;
     align-items: center;
 }
 .comments a{
    color: black;
    margin-left: 10px;
 }
 .comments a:hover{
    text-decoration: underline;
 }

 .reaction .like {
     width: 30px;
     height: 30px;
     background: blue;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     cursor: pointer;


 }

 .reaction .love {
     width: 30px;
     height: 30px;
     background: red;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     cursor: pointer;


 }

 .reaction .like,
 .reaction .love span {
     color: white;
 }

 .reaction .love {
     transform: translateX(-10px);
 }




 .create_room ul li .profile img {
     width: 100%;
     border-radius: 50%;
     cursor: pointer;

 }

 .create_room_btn {
     display: flex;
     align-items: center;
     border: 2px solid rgb(119, 119, 240);
     outline: none;
     border-radius: 25px;
     padding: 5px 8px;
     cursor: pointer;

 }

 .more_contact_btn {
     width: 35px;
     height: 35px;
     border-radius: 50%;
     border: none;
     outline: none;
     background: rgb(152, 145, 145);
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     position: absolute;
     top: 10px;
     right: 5px;

 }

 .more_contact_btn span {
     width: 28px;
     height: 28px;
 }

 .profile {
     position: relative;
 }

 .profile::after {
     content: ' ';
     background: blue;
     height: 8px;
     width: 8px;
     position: absolute;
     border-radius: 50%;
     top: 14px;
     right: -4px;


 }