 /* common css  */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

 }

 html {
     scroll-behavior: smooth;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
 }

 .center {
     display: flex;
     align-items: center;
 }

 body {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 /* header style  */
 header {
     width: 100%;
     padding: 0 20px;
     height: 56px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #FFFFFF;
     border-bottom: 1px solid;
     position: fixed;
     top: 0;
     left: 0;
 }

 /* .search_area {
     display: flex;
     align-items: center;
 }

 .logo {
     width: 40px;
     height: 40px;


 }

 .logo img {
     width: 100%;
 }

 .logo img a {
     text-decoration: none;
 } */


 /* .search {
    display: flex;
    align-items: center;

    height: 40px;
    width: 240px;
    background-color: #656769;
    border-radius: 25px;

}

.search span {
    width: 25px;
    color: white;
    padding: 5px;
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    height: 100%;
    background-color: unset;
    padding-left: 5px;
    font-size: 15px;
    font-family: arial;
    color: #e4e6eb;

}

.search input::placeholder {
    color: #e4e6eb;
    font-size: 15px;
    font-family: arial;
    font-weight: 400;




} */




 .search_area {
     display: flex;
     align-items: center;
 }

 .search_area .logo {
     width: 40px;
     height: 40px;
 }

 .logo img {
     width: 100%;
 }

 .search {
     margin-left: 10px;
     display: flex;
     width: 240px;
     height: 40px;
     background-color: #F0F2F5;
     border-radius: 25px;
     align-items: center;
 }

 .search span {
     width: 25px;
     color: white;
     padding-left: 5px;
     font-size: 20px;
 }

 .search input {
     height: 100%;
     background-color: unset;
     outline: none;
     border: none;
     color: white
 }

 .search input::placeholder {
     color: white;
 }


 nav ul li a {
     display: inline-block;
     padding: 10px 44px;

     border-radius: 10px;
     transition: 0.3s;
     position: relative;


 }

 nav ul li span {
     color: rgb(159, 158, 155);
     width: 28px;
     height: 28px;


 }

 nav ul li a:hover {
     background: #F2F2F2;

 }

 nav ul li a::after {
     display: none;
     content: attr(data-tag);

     position: absolute;
     bottom: -36px;
     left: 50%;
     transform: translateX(-50%);
     background: red;
     color: black;
     background: #F2F2F2;
     border-radius: 8px;
     text-align: center;
     font-size: 14px;
     padding: 8px 10px;



 }

 nav ul li a:hover::after {
     display: block;
 }

 nav ul li:first-child a:hover {
     background: unset;
     border-radius: unset;

 }

 nav ul li:first-child a {
     border-bottom: 3px solid blue;
     border-radius: unset;
     padding: 12px 44px;

 }

 nav ul li:first-child a span {
     color: blue;
 }


 .profile_section ul {
     display: flex;
     align-items: center;
 }

 .profile_section ul li:first-child img {
     width: 28px;
     height: 28px;
     border-radius: 50%;
     margin-right: 5px;


 }



 .profile_section ul li {
     margin: 0 20px;
     background: #4f5050;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     transition: 0.3s;


 }

 .profile_section ul li span {
     color: white;
     width: 20px;
     height: 20px;



 }

 .profile_section ul li i {
     color: rgb(132, 129, 129);
     font-size: 20px;
 }

 .profile_section ul li:hover {
     background: #e3eaea;

 }


 .profile_section ul li:first-child {
     color: wheat;

     border-radius: 25px;
     padding: 5px 10px;
     transition: 0.3s;
     cursor: pointer;
     height: unset;
     width: unset;
     background: unset;


 }

 .profile_section ul li:first-child:hover {
     background: #4f5050
 }


 /* main section css */

 main {
     max-width: 1464px;
     width: 100%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     background: #242526;

 }

 .left_side,
 .right_side {
     flex-basis: 330px;
     height: 100vh;

     padding-top: 56px;
     background: #1C1E21;

 }


 .middle {
     flex-grow: 1;
     height: 100vh;
     background: red;
     padding-top: 56px;
 }

 .left_side {
     padding: 72px 15px 0 15px;
     overflow: auto;

 }

 .left_side ul {
     width: 100%;


 }

 .left_menu li {
     display: flex;
     align-items: center;
     margin-bottom: 10px;
     color: white;
     cursor: pointer;

     border-radius: 10px;
     transition: 0.3s;
     padding: 5px;


 }

 .left_menu li:hover {
     background: rgb(149, 146, 146);

 }

 .left_menu li img {
     width: 28px;
     height: 28px;
     margin-right: 10px;

 }

 .left_menu li:first-child img {
     border-radius: 50%;
 }

 .left_menu li:last-child div {
     margin-right: 8px;
     width: 28px;
     height: 28px;
     border-radius: 50%;
     background: rgb(149, 146, 146);
     display: flex;
     justify-content: center;
     align-items: center;


 }

 .separator {
     width: 100%;
     height: 1px;
     background: rgb(83, 78, 78);

 }

 .shorcuts_title {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 40px;


 }

 .shorcuts_title h3 {
     margin-top: 22px;
     color: white;
     font-size: 16px;
     font-weight: 600px;

     display: flex;
     align-items: center;

 }

 .shorcuts_title button {
     display: none;
     background: unset;
     border: none;
     outline: none;
     color: rgb(132, 132, 238);

     padding: 8px;
     border-radius: 8px;
     transition: 0.3s;
     cursor: pointer;

 }

 .shorcuts_title:hover button {
     display: block;
     margin-top: 30px;


 }

 .shorcuts_title button:hover {
     background: rgb(83, 78, 78);
 }

 /* scrollbar  */



 /* width */
 ::-webkit-scrollbar {
     width: 8px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
     background: unset;
 }

 ::-webkit-scrollbar-track:hover {
     background: #3a3b3c;


 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
     background: #888;
     border-radius: 25px;
     display: none;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
     background: #555;
 }

 .left_side:hover::-webkit-scrollbar-thumb {
     display: block;

 }

 .second_left_menu li img {
     border-radius: 5px;

 }

 .second_left_menu {
     margin-top: 10px;
 }

 .footer_text a {
     font-size: 12px;
     color: white;
     font-weight: 500;
 }

 .footer_text a span {
     transform: translateY(8px)
 }